<%- include('partials/head', { title: `${title} | Inventory App` }) %>

<%- include('partials/navbar') %>

    <h1 class="text-4xl font-bold text-blue-500" > <%= title %></h1>
    <ul>
        <% categories.forEach(category => {%>
            <li>
                <a href='/categories/<%= category.id %>''>
                   <%= category.name %> 
                </a>
            </li>
            <% }) %>
    </ul>
    
<%- include('partials/footer') %>