<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= item.name %></h1>
    <p><%= item.description %></p>
    <ul>
        <li><%= item.manufacturer %></li>
        <li><%= item.price %></li>
        <li><%= item.stock_quantity %></li>
        
        <li>Category: <strong><%= item.category_name %></strong></li>
    </ul>
</body>
</html>